<<<<<<< HEAD
body {
    background-color: black;
    color: rgb(150, 150, 150);
}

h1 {
    color: white;
}

h2 {
    color: whitesmoke;
=======
body {
    background-color: black;
    color: rgb(150, 150, 150);
}

h1 {
    color: white;
}

h2 {
    color: whitesmoke;
>>>>>>> 0f2e3bf08cb23908bad5d4911f58b073ee1a305b
}